<!--   eComm PRO - Order Confirmation Template
  ==========================================================================-->
<HTML>
<HEAD>


<!--   Page Title
  ==========================================================================-->
<TITLE>Order Confirmation</TITLE>
</HEAD>


<!--   Page definitions, variables are replaced by Scheme colors
  ==========================================================================-->
<BODY TEXT=%O_TEXTCOLOR% BGCOLOR=%O_BGCOLOR% LINK=%O_LINKCOLOR% VLINK=%O_VLINKCOLOR% ALINK=%O_ALINKCOLOR%>
</center>
</td>

<td valign=top width=85%><ul><b><font size=+2><center>

<!--   Insert Confirmation page Message here
  ==========================================================================-->
$CONFIRM


</font></b><br><br>
<hr>
</center>
</td></tr></table>

</BODY>
</HTML>
